Repository americanexpress/one-app-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner, test, github, workflow, github-template

chore(release): publish %s
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner

chore(release): publish %s
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner

fix(actions): frozen lockfile installs in ci
  .github/workflows/health-check.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: github, workflow

feat(bundler): time printed is shortened
  packages/one-app-bundler/utils/time.js
Labels: none

fix(lerna): add yarn and missing files
  lernaDeploy.js
  packages/one-app-runner/bin/create-runner-env.js
  packages/one-app-runner/bin/one-app-runner-test.js
  packages/one-app-runner/bin/one-app-runner.js
Labels: none

feat(bundler): add global.BROWSER false for server bundle
  packages/one-app-bundler/__tests__/webpack/app/webpack.client.spec.js
  packages/one-app-bundler/__tests__/webpack/module/webpack.client.spec.js
  packages/one-app-bundler/__tests__/webpack/module/webpack.server.spec.js
  packages/one-app-bundler/webpack/module/webpack.server.js
Labels: test

.github/labeler.yml:

# Add 'eslint-plugin-one-app' label to any file changes
# in the eslint-plugin-one-app package
eslint-plugin-one-app:
  - packages/eslint-plugin-one-app/*

# Add 'generator-one-app-module' label to any file changes
# in the generator-one-app-module package
generator-one-app-module:
  - packages/generator-one-app-module/*

# Add 'one-app-bundler' label to any file changes
# in the one-app-bundler package
one-app-bundler:
  - packages/one-app-bundler/*

# Add 'one-app-locale-bundler' label to any file changes
# in the one-app-locale-bundler package
one-app-locale-bundler:
  - packages/one-app-locale-bundler/*

# Add 'one-app-runner' label to any file changes
# in the one-app-runner package
one-app-runner:
  - packages/one-app-runner/*

# Add 'test' label to any change to *.spec.js(x) files
test:
  - packages/**/__tests__/**/*.spec.js
  - packages/**/__tests__/**/*.spec.jsx

# Add 'github' label to any changes in .github folder
github:
  - .github/**

# Add 'workflow' label to any changes in .github/workflow
workflow:
  - .github/workflows/*

# Add 'github-template' label to any changes in .github/ISSUE_TEMPLATE
github-template:
  - .github/ISSUE_TEMPLATE/*
