Repository americanexpress/one-app-cli, pull requests merged in 2021-11, with the labels that each got.

#412 feat(one-app-bundler): add node 16 support
  .github/workflows/health-check.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .gitignore
  .npmrc
  package.json
  packages/holocron-dev-server/__tests__/src/utils/__snapshots__/virtual-file-system.spec.js.snap
  packages/holocron-dev-server/__tests__/src/utils/virtual-file-system.spec.js
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/__tests__/utils/getConfigOptions.spec.js
  packages/one-app-bundler/__tests__/webpack/loaders/__snapshots__/common.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/loaders/common.spec.js
  packages/one-app-bundler/package.json
  packages/one-app-bundler/webpack/loaders/common.js
  packages/one-app-runner/__tests__/bin/one-app-runner.spec.js
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/__tests__/src/startApp.spec.js
  yarn.lock
Labels: one-app-bundler, test, github, workflow, holocron-dev-server

#411 chore(release): v6.14.0 & v0.1.0
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
Labels: one-app-bundler, holocron-dev-server

#413 fix(holocron-dev-server): removed dll to fix externals
  packages/holocron-dev-server/README.md
  packages/holocron-dev-server/__tests__/src/components/Document.spec.jsx
  packages/holocron-dev-server/__tests__/src/components/__snapshots__/Document.spec.jsx.snap
  packages/holocron-dev-server/__tests__/src/middleware/webpack.spec.js
  packages/holocron-dev-server/__tests__/src/server.spec.js
  packages/holocron-dev-server/__tests__/src/utils/__snapshots__/rendering.spec.js.snap
  packages/holocron-dev-server/__tests__/src/utils/config.spec.js
  packages/holocron-dev-server/__tests__/src/utils/logs/messages.spec.js
  packages/holocron-dev-server/__tests__/src/utils/paths.spec.js
  packages/holocron-dev-server/__tests__/src/utils/rendering.spec.js
  packages/holocron-dev-server/__tests__/src/webpack/builds.spec.js
  packages/holocron-dev-server/__tests__/src/webpack/configs/bundles.spec.js
  packages/holocron-dev-server/__tests__/src/webpack/configs/fragments.spec.js
  packages/holocron-dev-server/__tests__/src/webpack/createHotHolocronCompiler.spec.js
  packages/holocron-dev-server/__tests__/src/webpack/loaders/holocron-webpack-loader.spec.js
  packages/holocron-dev-server/__tests__/src/webpack/plugins/holocron-webpack-plugin.spec.js
  packages/holocron-dev-server/package.json
  packages/holocron-dev-server/src/constants.js
  packages/holocron-dev-server/src/middleware/webpack.js
  packages/holocron-dev-server/src/server.js
  packages/holocron-dev-server/src/utils/config.js
  packages/holocron-dev-server/src/utils/logs/messages.js
  packages/holocron-dev-server/src/utils/paths.js
  packages/holocron-dev-server/src/utils/rendering.js
  packages/holocron-dev-server/src/webpack/configs/bundles.js
  packages/holocron-dev-server/src/webpack/configs/fragments.js
  packages/holocron-dev-server/src/webpack/createHotHolocronCompiler.js
  packages/holocron-dev-server/src/webpack/helpers.js
  packages/holocron-dev-server/src/webpack/loaders/holocron-webpack-loader.js
  packages/holocron-dev-server/src/webpack/plugins/holocron-webpack-plugin.js
Labels: test, holocron-dev-server
