Repository americanexpress/one-app-cli, pull requests merged in 2021-02, with the labels that each got.

#198 Yarn workspaces
  .github/labeler.yml
  .github/workflows/health-check.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .travis.yml
  README.md
  jest.config.js
  lernaDeploy.js
  lockFileLint.js
  package-lock.json
  package.json
  packages/eslint-plugin-one-app/package-lock.json
  packages/generator-one-app-module/generators/app/index.js
  packages/generator-one-app-module/package-lock.json
  packages/one-app-bundler/__tests__/.eslintrc.json
  packages/one-app-bundler/__tests__/bin/serve-module.spec.js
  packages/one-app-bundler/__tests__/utils/extendWebpackConfig.spec.js
  packages/one-app-bundler/__tests__/webpack/app/__snapshots__/webpack.client.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/loaders/__snapshots__/provided-externals-loader.spec.js.snap
  packages/one-app-bundler/bin/bundle-module.js
  packages/one-app-bundler/bin/bundle-one-app.js
  packages/one-app-bundler/bin/drop-module.js
  packages/one-app-bundler/bin/postProcessOneAppBundle.js
  packages/one-app-bundler/bin/serve-module.js
  packages/one-app-bundler/package-lock.json
  packages/one-app-bundler/utils/extendWebpackConfig.js
  packages/one-app-bundler/utils/getConfigOptions.js
  packages/one-app-bundler/utils/validation/index.js
  packages/one-app-bundler/webpack/app/webpack.client.js
  packages/one-app-bundler/webpack/createResolver.js
  packages/one-app-bundler/webpack/loaders/common.js
  packages/one-app-bundler/webpack/webpack.common.js
  packages/one-app-locale-bundler/bin/bundle-module-locale.js
  packages/one-app-locale-bundler/package-lock.json
  packages/one-app-runner/__tests__/bin/__snapshots__/one-app-runner.spec.js.snap
  packages/one-app-runner/__tests__/bin/one-app-runner.spec.js
  packages/one-app-runner/bin/create-runner-env.js
  packages/one-app-runner/bin/one-app-runner-test.js
  packages/one-app-runner/bin/one-app-runner.js
  packages/one-app-runner/package-lock.json
  yarn.lock
Labels: eslint-plugin-one-app, generator-one-app-module, github, one-app-bundler, one-app-locale-bundler, one-app-runner, test, workflow

#205 fix(commitlint): validate commit message on ci
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: github, workflow

#202 feat(bundler): add global.BROWSER false for server bundle
  packages/one-app-bundler/__tests__/webpack/app/webpack.client.spec.js
  packages/one-app-bundler/__tests__/webpack/module/webpack.client.spec.js
  packages/one-app-bundler/__tests__/webpack/module/webpack.server.spec.js
  packages/one-app-bundler/webpack/module/webpack.server.js
Labels: test

#219 Revert "chore(eslint-plugin): switch to plugin instead of rule (#193)"
  packages/one-app-bundler/__tests__/.eslintrc.json
  packages/one-app-bundler/__tests__/webpack/__snapshots__/webpack.common.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/app/__snapshots__/webpack.client.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/module/webpack.client.spec.js
  packages/one-app-bundler/__tests__/webpack/webpack.common.spec.js
  packages/one-app-bundler/package.json
  packages/one-app-bundler/webpack/webpack.common.js
  yarn.lock
Labels: one-app-bundler, test

#216 fix(externals): add getTenantRootModule validation
  package.json
  packages/one-app-bundler/__tests__/utils/__snapshots__/extendWebpackConfig.spec.js.snap
  packages/one-app-bundler/__tests__/utils/extendWebpackConfig.spec.js
  packages/one-app-bundler/__tests__/webpack/loaders/__snapshots__/provided-externals-loader.spec.js.snap
  packages/one-app-bundler/utils/extendWebpackConfig.js
  packages/one-app-bundler/utils/getConfigOptions.js
  packages/one-app-bundler/webpack/loaders/provided-externals-loader.js
Labels: test

#224 chore(release): publish 6.12.0
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner

#226 chore(release): fix action indentation
  .github/workflows/release.yml
Labels: github, workflow

#227 Revert "chore(release): publish 6.12.0"
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner

#225 feat(oneAppRunner): mount NODE_EXTRA_CA_CERTS cert
  packages/one-app-runner/README.md
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/src/startApp.js
Labels: one-app-runner, test

#229 chore(release): publish 6.12.0
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner

#220 feat(uuuid): update uuid from 3.x to 8.x
  packages/one-app-runner/bin/create-runner-env.js
  packages/one-app-runner/package.json
  yarn.lock
Labels: one-app-runner
