Repository americanexpress/one-app-cli, pull requests merged in 2021-06, with the labels that each got.

#330 fix(dev-server): load App Statics from docker img
  packages/holocron-dev-server/__tests__/src/utils/statics.spec.js
  packages/holocron-dev-server/src/utils/statics.js
Labels: test

#334 merge main to beta
  .github/pull_request_template.md
  packages/holocron-dev-server/__tests__/src/utils/config.spec.js
  packages/holocron-dev-server/__tests__/src/utils/statics.spec.js
  packages/holocron-dev-server/src/utils/config.js
  packages/holocron-dev-server/src/utils/statics.js
Labels: github, test

#337 Add automerge feature for dependabot PRs
  .github/dependabot.yml
  .github/workflows/automated-pr.yml
  .github/workflows/automerge-dependabot.yml
Labels: github, workflow
