Repository americanexpress/one-app-cli, pull requests merged in 2023-03, with the labels that each got.

#497 fix(devBundler): add node polyfill
  packages/one-app-dev-bundler/__tests__/esbuild/__snapshots__/generateESBuildOptions.spec.js.snap
  packages/one-app-dev-bundler/esbuild/generateESBuildOptions.js
  packages/one-app-dev-bundler/package.json
  yarn.lock
Labels: one-app-team-review-requested

#500 chore(release): publish packages
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/package.json
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, generator-one-app-module, one-app-bundler, one-app-locale-bundler, one-app-runner, holocron-dev-server, one-app-team-review-requested

#501 docs(readme): correct spelling error
  README.md
Labels: one-app-team-review-requested

#502 fix(devBundler): support named exports from style files
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/styles-loader.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/styles-loader.js
Labels: test, one-app-team-review-requested

#506 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
Labels: one-app-bundler, holocron-dev-server, one-app-team-review-requested

#505 refactor(one-app-locale-bundler): add mock-fs as devDep
  packages/one-app-locale-bundler/__tests__/src/compileModuleLocales.spec.js
  packages/one-app-locale-bundler/package.json
Labels: one-app-locale-bundler, test, one-app-team-review-requested
