Repository americanexpress/one-app-cli, pull requests merged in 2023-08, with the labels that each got.

#504 docs(contributing): install and use yarn 1
  CONTRIBUTING.md
Labels: stale-pr, one-app-team-review-requested

#555 fix: argument escaping
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/src/startApp.js
Labels: test, one-app-team-review-requested

#556 fix(one-app-runner): move placement of --inspect flag
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/src/startApp.js
Labels: one-app-team-review-requested
