Repository americanexpress/one-app-cli, pull requests merged in 2023-05, with the labels that each got.

#518 fix(devBundler): upgrade to cssnano@5
  packages/one-app-dev-bundler/package.json
  yarn.lock
Labels: one-app-team-review-requested

#521 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
Labels: one-app-bundler, one-app-locale-bundler, holocron-dev-server, one-app-team-review-requested

#522 chore(deps): upgrade peer dep html-webpack-plugin
  packages/one-app-bundler/package.json
  yarn.lock
Labels: one-app-bundler, one-app-team-review-requested

#528 fix(dev-bundler): improve error when NODE_ENV not development
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/prevent-prod-builds-for-now.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/prevent-prod-builds-for-now.js
Labels: test, one-app-team-review-requested

#526 fix(one-app-runner-test): improve console messaging
  packages/one-app-runner/bin/one-app-runner-test.js
Labels: one-app-team-review-requested

#533 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-bundler, one-app-locale-bundler, one-app-runner, holocron-dev-server, one-app-team-review-requested

#534 chore(docs): add release doc
  CONTRIBUTING.md
  RELEASE.md
Labels: one-app-team-review-requested
