Repository americanexpress/one-app-cli, pull requests merged in 2023-09, with the labels that each got.

#558 docs(typescript): add documentation stating typescript is supported
  packages/one-app-bundler/README.md
Labels: one-app-bundler, one-app-team-review-requested

#559 fix(one-app-runner): apply anonymous ip to debugger
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/src/startApp.js
Labels: one-app-team-review-requested

#560 chore(dep): fix webpack version to 4.46.0
  packages/one-app-bundler/package.json
  yarn.lock
Labels: one-app-bundler, one-app-team-review-requested

#561 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-bundler, one-app-locale-bundler, one-app-runner, holocron-dev-server, one-app-team-review-requested

#562 fix(externals): issue when no one-amex key
  packages/one-app-dev-bundler/__tests__/utils/bundle-external-fallbacks.spec.js
  packages/one-app-dev-bundler/utils/bundle-external-fallbacks.js
Labels: test, one-app-team-review-requested

#564 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
Labels: one-app-bundler, holocron-dev-server, one-app-team-review-requested

#565 fix(devBundler): check for Holocron.getExternal
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/externals-loader.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/externals-loader.js
Labels: test, one-app-team-review-requested

#566 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
Labels: one-app-bundler, holocron-dev-server, one-app-team-review-requested

#570 chore(workflow): add new set tag workflow
  .github/workflows/set-tag.yml
Labels: github, workflow

#571 fix(dev-bundler): styles loader
  packages/one-app-dev-bundler/esbuild/plugins/styles-loader.js
Labels: one-app-team-review-requested

#572 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
Labels: one-app-bundler, holocron-dev-server, one-app-team-review-requested
