Repository americanexpress/one-app-cli, pull requests merged in 2023-06, with the labels that each got.

#519 feat(purgecss): allow for backwards compatibility of purgecss 2 and 3
  packages/one-app-bundler/README.md
  packages/one-app-bundler/__tests__/webpack/loaders/__snapshots__/common.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/loaders/common.spec.js
  packages/one-app-bundler/package.json
  packages/one-app-bundler/utils/validation/index.js
  packages/one-app-bundler/webpack/loaders/common.js
  yarn.lock
Labels: test, one-app-team-review-requested

#540 Chore/deprecate generator one app module
  README.md
  jest.cjs.config.js
  packages/generator-one-app-module/CHANGELOG.md
  packages/generator-one-app-module/README.md
  packages/generator-one-app-module/__tests__/.eslintrc.json
  packages/generator-one-app-module/__tests__/app.js
  packages/generator-one-app-module/__tests__/promptValidations.spec.js
  packages/generator-one-app-module/docs/Bundling-Modules.md
  packages/generator-one-app-module/generators/app/index.js
  packages/generator-one-app-module/generators/app/promptValidations.js
  packages/generator-one-app-module/generators/app/templates/base-child-module/.babelrc
  packages/generator-one-app-module/generators/app/templates/base-child-module/.eslintrc.json
  packages/generator-one-app-module/generators/app/templates/base-child-module/README.md
  packages/generator-one-app-module/generators/app/templates/base-child-module/__tests__/.eslintrc.json
  packages/generator-one-app-module/generators/app/templates/base-child-module/__tests__/components/ModuleContainer.spec.jsx
  packages/generator-one-app-module/generators/app/templates/base-child-module/__tests__/index.spec.js
  packages/generator-one-app-module/generators/app/templates/base-child-module/dev.middleware.js
  packages/generator-one-app-module/generators/app/templates/base-child-module/gitignore
  packages/generator-one-app-module/generators/app/templates/base-child-module/mock/scenarios.js
  packages/generator-one-app-module/generators/app/templates/base-child-module/package.json
  packages/generator-one-app-module/generators/app/templates/base-child-module/src/components/ModuleContainer.jsx
  packages/generator-one-app-module/generators/app/templates/base-child-module/src/index.js
  packages/generator-one-app-module/generators/app/templates/intl-child-module/__tests__/components/ModuleContainer.spec.jsx
  packages/generator-one-app-module/generators/app/templates/intl-child-module/__tests__/locale.spec.js
  packages/generator-one-app-module/generators/app/templates/intl-child-module/locale/en-CA.json
  packages/generator-one-app-module/generators/app/templates/intl-child-module/locale/en-US.json
  packages/generator-one-app-module/generators/app/templates/intl-child-module/locale/es-MX.json
  packages/generator-one-app-module/generators/app/templates/intl-child-module/src/components/ModuleContainer.jsx
  packages/generator-one-app-module/generators/app/templates/intl-child-module/test-setup.js
  packages/generator-one-app-module/generators/app/templates/intl-root-module/__tests__/components/ModuleContainer.spec.jsx
  packages/generator-one-app-module/generators/app/templates/intl-root-module/src/components/ModuleContainer.jsx
  packages/generator-one-app-module/generators/app/templates/root-module/__tests__/appConfig.spec.js
  packages/generator-one-app-module/generators/app/templates/root-module/__tests__/components/ModuleContainer.spec.jsx
  packages/generator-one-app-module/generators/app/templates/root-module/src/appConfig.js
  packages/generator-one-app-module/generators/app/templates/root-module/src/childRoutes.jsx
  packages/generator-one-app-module/generators/app/templates/root-module/src/components/ModuleContainer.jsx
  packages/generator-one-app-module/generators/app/templates/root-module/src/csp.js
  packages/generator-one-app-module/package.json
Labels: generator-one-app-module, test, one-app-team-review-requested

#541 chore(node18): add to unit testing
  .github/workflows/health-check.yml
  .github/workflows/tests.yml
  yarn.lock
Labels: github, workflow, one-app-team-review-requested

#542 chore(node): add node 18 to publish workflow
  .github/workflows/publish.yml
Labels: github, workflow, one-app-team-review-requested

#543 fix(one-app-dev-bundler): avoid default export of sass
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/styles-loader.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/styles-loader.js
Labels: test, one-app-team-review-requested

#538 fix(one-app-runner): have one-app-runner-test print any startup error messages
  packages/one-app-runner/__tests__/utils/waitForOK.spec.js
  packages/one-app-runner/bin/one-app-runner-test.js
  packages/one-app-runner/utils/waitForOK.js
Labels: test, one-app-team-review-requested

#545 chore(readme): fix up purgecss section
  packages/one-app-bundler/README.md
Labels: one-app-bundler, one-app-team-review-requested

#547 chore(release): publish packages
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: eslint-plugin-one-app, one-app-bundler, one-app-locale-bundler, one-app-runner, holocron-dev-server, one-app-team-review-requested

#550 fix(dev-bundler): use semver ranges for all deps
  packages/one-app-dev-bundler/package.json
  yarn.lock
Labels: one-app-team-review-requested
