Repository americanexpress/one-app-cli, pull requests merged in 2023-10, with the labels that each got.

#569 fix(one-app-runner): avoid shell usage
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/src/startApp.js
Labels: bug, one-app-team-review-requested

#574 Feature/mount user one app directory
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/src/startApp.js
Labels: test, one-app-team-review-requested

#575 chore(release): publish packages
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-runner, one-app-team-review-requested

#573 chore(workflows): use GITHUB_OUTPUT instead of ::set-output
  .github/workflows/publish.yml
Labels: github, workflow

#577 fix(one-app-dev-bundler): sass style loader
  packages/one-app-dev-bundler/esbuild/plugins/styles-loader.js
  packages/one-app-dev-bundler/package.json
  yarn.lock
Labels: one-app-team-review-requested

#578 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
Labels: one-app-bundler, holocron-dev-server, one-app-team-review-requested

#582 fix(one-app-dev-bundler): replace deprecated node polyfill plugin
  packages/one-app-dev-bundler/__tests__/esbuild/__snapshots__/generateESBuildOptions.spec.js.snap
  packages/one-app-dev-bundler/__tests__/esbuild/generateESBuildOptions.spec.js
  packages/one-app-dev-bundler/esbuild/generateESBuildOptions.js
  packages/one-app-dev-bundler/package.json
  yarn.lock
Labels: test, one-app-team-review-requested
