Repository americanexpress/one-app-cli, pull requests merged in 2023-04, with the labels that each got.

#508 fix(one-app-dev-bundler): match a period, rather than wildcard
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/font-loader.spec.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/image-loader.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/externals-loader.js
  packages/one-app-dev-bundler/esbuild/plugins/font-loader.js
  packages/one-app-dev-bundler/esbuild/plugins/image-loader.js
Labels: one-app-team-review-requested

#511 fix(locale-bundler): do not exit on errors during watch
  packages/one-app-locale-bundler/__tests__/index.spec.js
  packages/one-app-locale-bundler/index.js
Labels: one-app-locale-bundler, test, one-app-team-review-requested

#513 fix(dev-bundler): skip plugins when no results metadata
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/bundle-asset-size-limiter.spec.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/cjs-compatibility-hotpatch.spec.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/generate-integrity-manifest.spec.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/restrict-runtime-symbols.spec.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/server-styles-dispatcher.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/bundle-asset-size-limiter.js
  packages/one-app-dev-bundler/esbuild/plugins/cjs-compatibility-hotpatch.js
  packages/one-app-dev-bundler/esbuild/plugins/generate-integrity-manifest.js
  packages/one-app-dev-bundler/esbuild/plugins/restrict-runtime-symbols.js
  packages/one-app-dev-bundler/esbuild/plugins/server-styles-dispatcher.js
Labels: test, one-app-team-review-requested

#515 chore(release): publish packages
  packages/holocron-dev-server/CHANGELOG.md
  packages/holocron-dev-server/package.json
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-locale-bundler/CHANGELOG.md
  packages/one-app-locale-bundler/package.json
Labels: one-app-bundler, one-app-locale-bundler, holocron-dev-server, one-app-team-review-requested

#516 fix(cyptoHash): patch crypto hash to support md4 hash
  packages/one-app-bundler/__tests__/utils/patchedCryptoHash.spec.js
  packages/one-app-bundler/utils/patchedCryptoHash.js
  packages/one-app-bundler/webpack/app/webpack.client.js
  packages/one-app-bundler/webpack/module/webpack.client.js
Labels: one-app-team-review-requested
