Repository americanexpress/one-app-cli, pull requests merged in 2024-03, with the labels that each got.

#616 fix(webpack): add missing webpack 4 polyfills
  packages/one-app-bundler/__tests__/webpack/module/__snapshots__/webpack.client.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/module/webpack.client.spec.js
  packages/one-app-bundler/package.json
  packages/one-app-bundler/webpack/module/webpack.client.js
  yarn.lock
Labels: one-app-bundler, test, one-app-team-review-requested

#615 fix(webpack): support for jsx-runtime for react<18 with esm
  packages/one-app-bundler/__tests__/webpack/webpack.common.spec.js
  packages/one-app-bundler/webpack/webpack.common.js
Labels: one-app-team-review-requested

#613 fix(styles-loader): hash css module classes from files in node_modules
  packages/one-app-bundler/__tests__/webpack/loaders/styles-loader.spec.js
  packages/one-app-bundler/webpack/loaders/styles-loader.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/styles-loader.spec.js
  packages/one-app-dev-bundler/esbuild/utils/load-styles.js
  packages/one-app-server-bundler/__tests__/webpack/loaders/__snapshots__/common.spec.js.snap
  packages/one-app-server-bundler/__tests__/webpack/loaders/common.spec.js
  packages/one-app-server-bundler/webpack/loaders/common.js
Labels: test, one-app-team-review-requested

#614 feat(styles-loader): disable purgecss by default
  packages/one-app-bundler/README.md
  packages/one-app-bundler/package.json
  packages/one-app-bundler/utils/validation/index.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/styles-loader.spec.js
  packages/one-app-dev-bundler/esbuild/utils/load-styles.js
  packages/one-app-server-bundler/utils/validation/index.js
  yarn.lock
Labels: one-app-bundler, test, one-app-team-review-requested

#618 chore(release): publish packages
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
  packages/one-app-server-bundler/CHANGELOG.md
  packages/one-app-server-bundler/package.json
Labels: one-app-bundler, one-app-runner, one-app-team-review-requested

#619 fix(one-app-server-bundler): remove excess
  packages/one-app-server-bundler/__mocks__/fs.js
  packages/one-app-server-bundler/__mocks__/node:fs.js
  packages/one-app-server-bundler/__tests__/bin/__snapshots__/serve-module.spec.js.snap
  packages/one-app-server-bundler/__tests__/bin/drop-module.spec.js
  packages/one-app-server-bundler/__tests__/bin/serve-module.spec.js
  packages/one-app-server-bundler/__tests__/utils/__snapshots__/getConfigOptions.spec.js.snap
  packages/one-app-server-bundler/__tests__/utils/getConfigOptions.spec.js
  packages/one-app-server-bundler/__tests__/utils/patchedCryptoHash.spec.js
  packages/one-app-server-bundler/__tests__/utils/validation/index.spec.js
  packages/one-app-server-bundler/__tests__/webpack/app/webpack.client.spec.js
  packages/one-app-server-bundler/__tests__/webpack/loaders/__snapshots__/common.spec.js.snap
  packages/one-app-server-bundler/__tests__/webpack/loaders/common.spec.js
  packages/one-app-server-bundler/__tests__/webpack/webpack.common.spec.js
  packages/one-app-server-bundler/bin/bundle-one-app.js
  packages/one-app-server-bundler/bin/drop-module.js
  packages/one-app-server-bundler/bin/generateIntegrityManifest.js
  packages/one-app-server-bundler/bin/serve-module.js
  packages/one-app-server-bundler/bin/webpackCallback.js
  packages/one-app-server-bundler/package.json
  packages/one-app-server-bundler/utils/getConfigOptions.js
  packages/one-app-server-bundler/utils/patchedCryptoHash.js
  packages/one-app-server-bundler/utils/validation/index.js
  packages/one-app-server-bundler/webpack/app/webpack.client.js
  packages/one-app-server-bundler/webpack/createResolver.js
  packages/one-app-server-bundler/webpack/loaders/common.js
  packages/one-app-server-bundler/webpack/webpack.common.js
  yarn.lock
Labels: test, one-app-team-review-requested

#620 Release @americanexpress/one-app-server-bundler@1.0.2
  packages/one-app-server-bundler/CHANGELOG.md
  packages/one-app-server-bundler/package.json
Labels: one-app-team-review-requested

#622 fix(one-app-runner): single serve-module invocation
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/src/startApp.js
Labels: test, one-app-team-review-requested

#617 fix(css-loader): do not use localName for css modules in node_modules
  packages/one-app-bundler/__tests__/webpack/loaders/__snapshots__/common.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/loaders/common.spec.js
  packages/one-app-bundler/package.json
  packages/one-app-bundler/webpack/loaders/common.js
  yarn.lock
Labels: one-app-bundler, test, one-app-team-review-requested

#624 fix(appConfig): restore check to app config
  packages/one-app-bundler/__tests__/utils/getConfigOptions.spec.js
  packages/one-app-bundler/__tests__/webpack/__snapshots__/webpack.common.spec.js.snap
  packages/one-app-bundler/__tests__/webpack/plugins/restrict-runtime-symbols.spec.js
  packages/one-app-bundler/__tests__/webpack/webpack.common.spec.js
  packages/one-app-bundler/webpack/plugins/restrict-runtime-symbols.js
  packages/one-app-bundler/webpack/webpack.common.js
  packages/one-app-dev-bundler/esbuild/plugins/restrict-runtime-symbols.js
  packages/one-app-dev-bundler/index.js
  yarn.lock
Labels: test, one-app-team-review-requested, Roadmap

#625 chore(release): publish packages
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-bundler, one-app-runner, one-app-team-review-requested, Roadmap

#629 fix(one-app-runner): include legacy bundle on serve-module even if it does not exist
  packages/one-app-server-bundler/__tests__/bin/__snapshots__/serve-module.spec.js.snap
  packages/one-app-server-bundler/__tests__/bin/serve-module.spec.js
  packages/one-app-server-bundler/bin/serve-module.js
Labels: test, one-app-team-review-requested

#630 chore(release): publish packages
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
  packages/one-app-server-bundler/CHANGELOG.md
  packages/one-app-server-bundler/package.json
Labels: one-app-runner, one-app-team-review-requested

#631 feat(one-app-runner): use new entry command in 6.11.0
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/src/startApp.js
Labels: test, one-app-team-review-requested

#632 chore(release): publish packages
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-runner, one-app-team-review-requested

#623 fix(one-app-server-bundler): serve-module read and write the module map once
  packages/one-app-server-bundler/__tests__/bin/serve-module.spec.js
  packages/one-app-server-bundler/bin/serve-module.js
Labels: test, one-app-team-review-requested

#633 fix: transpile cjs files
  packages/one-app-server-bundler/__tests__/webpack/app/__snapshots__/webpack.client.spec.js.snap
  packages/one-app-server-bundler/webpack/app/webpack.client.js
Labels: one-app-team-review-requested
