Repository americanexpress/one-app-cli, pull requests merged in 2024-04, with the labels that each got.

#634 chore(release): publish packages
  packages/one-app-server-bundler/CHANGELOG.md
  packages/one-app-server-bundler/package.json
Labels: one-app-team-review-requested

#635 feat(one-app-runner): add option to load jaeger all-in-one
  .eslintrc.json
  jest.cjs.config.js
  packages/eslint-plugin-one-app/.eslintrc.json
  packages/one-app-locale-bundler/__tests__/.eslintrc.json
  packages/one-app-runner/README.md
  packages/one-app-runner/__fixtures__/jaeger.js
  packages/one-app-runner/__fixtures__/logStream.js
  packages/one-app-runner/__mocks__/colorette.js
  packages/one-app-runner/__mocks__/node-fetch.js
  packages/one-app-runner/__mocks__/node:child_process.js
  packages/one-app-runner/__tests__/.eslintrc.json
  packages/one-app-runner/__tests__/bin/__snapshots__/one-app-runner.spec.js.snap
  packages/one-app-runner/__tests__/bin/one-app-runner.spec.js
  packages/one-app-runner/__tests__/fixtures/.gitkeep
  packages/one-app-runner/__tests__/src/__snapshots__/startApp.spec.js.snap
  packages/one-app-runner/__tests__/src/startApp.spec.js
  packages/one-app-runner/__tests__/src/startJaeger.spec.js
  packages/one-app-runner/__tests__/utils/expiringSet.spec.js
  packages/one-app-runner/__tests__/utils/objectToFlags.spec.js
  packages/one-app-runner/__tests__/utils/waitForOK.spec.js
  packages/one-app-runner/bin/one-app-runner.js
  packages/one-app-runner/package.json
  packages/one-app-runner/src/startApp.js
  packages/one-app-runner/src/startJaeger.js
  packages/one-app-runner/utils/docker.js
  packages/one-app-runner/utils/expiringSet.js
  packages/one-app-runner/utils/objectToFlags.js
  packages/one-app-runner/utils/pick.js
  packages/one-app-runner/utils/spawnAndPipe.js
  packages/one-app-server-bundler/__mocks__/.eslintrc.json
  packages/one-app-server-bundler/__tests__/.eslintrc.json
  yarn.lock
Labels: one-app-runner, test, one-app-team-review-requested

#636 Chore/release
  packages/eslint-plugin-one-app/CHANGELOG.md
  packages/eslint-plugin-one-app/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
  packages/one-app-server-bundler/CHANGELOG.md
  packages/one-app-server-bundler/package.json
Labels: eslint-plugin-one-app, one-app-runner, one-app-team-review-requested
