Repository americanexpress/one-app-cli, pull requests merged in 2024-01, with the labels that each got.

#598 chore(release): publish packages
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-bundler, one-app-runner, one-app-team-review-requested

#595 fix(build-stats): esbuild and webpack stats under build-stats dir
  packages/one-app-bundler/bin/postProcessOneAppBundle.js
  packages/one-app-bundler/bin/webpackCallback.js
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/time-build.spec.js
  packages/one-app-dev-bundler/__tests__/utils/analyze-bundles.spec.js
  packages/one-app-dev-bundler/esbuild/plugins/time-build.js
  packages/one-app-dev-bundler/utils/analyze-bundles.js
Labels: test, one-app-team-review-requested

#601 fix(webpack): include typescript files in purgecss loader
  packages/one-app-bundler/__tests__/webpack/loaders/__snapshots__/common.spec.js.snap
  packages/one-app-bundler/webpack/loaders/common.js
Labels: one-app-team-review-requested

#604 feat(devBundler): expose css loading system for reuse
  packages/one-app-dev-bundler/esbuild/plugins/styles-loader.js
  packages/one-app-dev-bundler/esbuild/utils/load-styles.js
  packages/one-app-dev-bundler/esbuild/utils/server-style-aggregator.js
  packages/one-app-dev-bundler/index.js
Labels: one-app-team-review-requested

#606 chore(release): publish packages
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
  packages/one-app-runner/CHANGELOG.md
  packages/one-app-runner/package.json
Labels: one-app-bundler, one-app-runner, one-app-team-review-requested

#602 chore(deps): upgrade to babel-preset-amex@4
  packages/one-app-bundler/package.json
  yarn.lock
Labels: one-app-bundler, one-app-team-review-requested
