Repository americanexpress/one-app-cli, pull requests merged in 2024-05, with the labels that each got.

#638 fix(load-styles): export css module classes as-is
  packages/one-app-dev-bundler/__tests__/esbuild/plugins/styles-loader.spec.js
  packages/one-app-dev-bundler/esbuild/utils/load-styles.js
Labels: test, one-app-team-review-requested

#639 chore(release): publish packages
  packages/one-app-bundler/CHANGELOG.md
  packages/one-app-bundler/package.json
  packages/one-app-dev-bundler/CHANGELOG.md
  packages/one-app-dev-bundler/package.json
Labels: one-app-bundler, one-app-team-review-requested

#640 docs(readme): innersource notice
  README.md
Labels: one-app-team-review-requested
